[2017-02-01 21:08] denlight opened #9 "'module.id' is a number in WebPack"
VM44162:865 Uncaught Error: moduleId should be a string in "DaterangepickerComponent". See https://goo.gl/wIDDiL for more information.

This is the error I get when I try to include your module. First I had to fix a Unexpected character '@'  error but after that got fixed I get the one above. According to what I was able to find online the problem is that WebPack spits out the number for module.id

[2017-02-01 21:21] denlight commented on #9
To fix this issue I had to remove modul.id from both Calendar And daterangepicker components and update the way template is included:
`@Component({
    selector: 'date-range-picker',
    template: require('./daterangepicker-component.html')
})`

`@Component({
    selector: 'calendar',
	template: require('./calendar-component.html'),
})`

[2017-02-02 05:38] nikhil-001mehta commented on #9
okay. @denlight thanks for the help. I will merge your PR soon.

[2017-02-04 10:24] nikhil-001mehta commented on #9
Merged PR to fix issue

[2017-02-04 10:24] #9 closed

[2017-03-02 17:18] rgprahul opened #12 "no event fire click on apply button"
Please give me solution how to resolve it.I can not get the date range into my .ts file. when we use autoApply:true with daterangepickerOptions then it work. but i need it on apply click.

[2017-03-03 19:21] nikhil-001mehta commented on #12
I have fixed the issue. Please take latest version of the module via npm. see the demo [here](http://run.plnkr.co/plunks/Bhp9s2GKQAVeb5UlBU4x/) keep our developer tool open to see that the event gets fired. Hope it helps. Please close the issue if it fixes the problem. Let me know if there are any other issues you are facing. Thank you for your support.

[2017-03-06 11:38] manjitsingh91 commented on #9
You haven't  merged your dev branch to master so we cannot get the latest ts files  where 'modul.id' is removed.Means when we try to install angular-2-daterangepicker in our new project then we have to again remove the  'modul.id' manually.

[2017-03-06 14:06] rgprahul commented on #12
This works fine but how to implement the functionality of Today,Last day and all.

[2017-03-06 14:06] #12 closed

[2017-03-07 05:10] heenaMahajan opened #15 "how to pass start and end date equal to null ,by default it capture today date in control"
In angular-2-daterangepicker,we are not able to set date to null in control.Please let me know that how to set null date or default label in that control

[2017-03-07 07:22] nikhil-001mehta commented on #12
@rgprahul  Do you mean the predefined range feature? Currently only default ranges can be shown. The work to accept custom ranges from options object is in progress I will release one more version this week with said feature. Thanks.

[2017-03-07 16:59] nikhil-001mehta commented on #15
Yes it is designed to select today by default if nothing is provided that is how the original daterangepicker is behaving as [here](http://www.daterangepicker.com/). What behaviour exactly you want? Do you mean that there should not be any range selected by default if nothing is provided?

[2017-03-08 04:26] heenaMahajan commented on #15
Yes,In first time when we load the page nothing should be selected until we select the range

[2017-03-08 05:20] nikhil-001mehta commented on #15
Thanks @heenaMahajan I will try to add an option to the daterangepicker-options class in order to fulfill your requirements and release a new version in upcoming week.

[2017-03-15 16:40] nikhil-001mehta commented on #15
hi @heenaMahajan thanks for your feedback I have added one option named 'noDefaultRangeSelected' you can set it to true in order to get the behaviour you want to, And please close the issue if you are okay with it,

[2017-03-15 16:42] nikhil-001mehta commented on #12
@rgprahul  I have added one more option named 'preDefinedRanges' to define custom ranges. See the [plunker](http://plnkr.co/edit/BtKrOwY8nNLMIdAikubM?p=preview) to understand how to use it.

[2017-03-26 08:06] nikhil-001mehta commented on #15
Closing issue assuming it is has fulfilled requirements

[2017-03-26 08:06] #15 closed

[2017-04-04 18:24] rgprahul commented on #12
Thanks Dear.

for your support.👍👍

On Wed, 15 Mar 2017 at 10:12 PM, nikhil.001mehta <notifications@github.com>
wrote:

[2017-04-07 20:50] james-criscuolo opened #17 "Preinstall installs devDependencies"
Do I need that preinstall set if I don't plan on developing inside the library? I'd like to use it, but I don't want to install those extra libraries, or force my team to as well. This occurs when just doing a normal `npm install angular-2-daterangepicker`.

[2017-04-08 16:52] nikhil-001mehta commented on #17
no that's right you do not need to install those. I did not realize I have left it there in scripts, I have removed it. Please take latest version. And thank you for pointing it out.

[2017-04-10 16:27] james-criscuolo commented on #17
Next problem I hit seems to be another small change, that I believe only matters with webpack, but should be beneficial in general. The error reads:

[code]
Angular-cli has an open issue about it: https://github.com/angular/angular-cli/issues/3576. I haven't looked into it deeply enough to determine if this is a fault of webpack or angular, but just adding `.toString()` to module.id in the compone

[2017-04-11 05:18] nikhil-001mehta commented on #17
sure i wll remove the dependancy on it. webpack seems to give problem with it.

[2017-04-17 11:41] nikhil-001mehta commented on #17
@james-criscuolo Closing the issue. Assuming your issue is solved.

[2017-04-17 11:41] #17 closed

[2017-04-23 18:36] costel-petrescu opened #18 "small error"
Hi.
Using your program, I faced a small error.
It's in calendar-component.ts: 67.
exactly, it's this.length.
An error is following:
ERROR TypeError: Cannot read property 'length' of undefined
please, how can i fix this error?

Thanks.

[2017-04-24 05:11] nikhil-001mehta commented on #18
Sure I would like to help. But it is difficult for me to help you unless you post the element which you are using to render the daterangepicker i.e the HTML tag which you are using in your code
e.g. <date-range-picker [fromDate]="'04/01/2017'" [toDate]="'04/02/2017'" [format]="'DD/MM/YYYY'" (datesSelected)="demo($event)"> </date-range-picker>

[2017-04-24 06:28] costel-petrescu commented on #18
![error](https://cloud.githubusercontent.com/assets/26811178/25324754/3c48a7b0-28d0-11e7-9dc9-410e7c954a33.png)

I tried to do your words, but it didn't run.
Errors are forwards.

[2017-04-24 07:41] nikhil-001mehta commented on #18
Can you please post your html code too? Not whole but related to this daterangepicker? As in your image it shows that it has error in calendar.ts file, none of the file in package has name calendar.ts. Hope you are using latest version of this package, if not tell me the version you are using.

[2017-04-24 08:02] costel-petrescu commented on #18
ok.

[calendar.ts.txt](https://github.com/nikhil-001mehta/angular-2-daterangepicker/files/950750/calendar.ts.txt)
[daterangepicker.component.ts.txt](https://github.com/nikhil-001mehta/angular-2-daterangepicker/files/950757/daterangepicker.component.ts.txt)

And then, what's wrong in this code ?
`<input class="input-mini form-control" [ngModel]="fromDate | formatMomentDate: format" (blur)="formatFr

[2017-04-24 08:15] nikhil-001mehta commented on #18
There is nothing wrong with this code. you have posted. Probably you are using date-range-picker tag in wrong way in your html code. What I want to know is how you are consuming my code? Please post that code which you are writing which is not part of this package, and the code which will consume my code.

[2017-04-24 08:42] costel-petrescu commented on #18
Well, I'm going to change the calendar in your code.
But it doesn't work well.
The problem is I don't understand what function is getWeeksNumber()?
Can you explain about it?
Thanks.

[2017-04-24 11:53] nikhil-001mehta commented on #18
yes it first gets all week numbers considering 1st jan week as first. And then it gets dates in those weeks.
e.g. for jan 2017 week numbers are 1,2,3,4,5 and for feb 2017 are 5,6,7,8,9. But you still did not post your HTML which is actually responsible to trigger my code.

[2017-04-24 13:20] costel-petrescu commented on #18
Sorry, I'm confused.
Can you explain about bellow in detail?
Exactly, about `indexOf`.
`getWeekNumbers(monthRange: any) {
        let weekNumbers = [];
        let indexOf = [].indexOf || function(item) { for (var i = 0, l = this.length; i < l; i++) { if (i in this && this[i] === item) return i; } return -1; };
        monthRange.by('days', function(moment) {
            let ref;
            if (w

[2017-05-02 05:39] #18 closed

[2017-07-29 06:34] amlankusumnayak opened #20 "Are you working on this?"
Are you working on this? The files changed were around 4 months back.

[2017-07-29 07:04] nikhil-001mehta commented on #20
Yes I do have lots of things on my to do list. But I am currently busy with my other works. I wll be back onto it in mid august. Meanwhile if you find any issue please file it. I will resolve it on priority.

[2017-08-31 04:34] 02harleen opened #21 "How to use one calendar for date range select?"
Hi, How to use one calendar for select start date and end date?

[2017-08-31 07:22] nikhil-001mehta commented on #21
@02harleen It is not designed to use in that way. You should select start date from left calendar and end date from right calendar. If you need such option I can make a provision for that.

[2017-10-25 12:43] chaimfn opened #22 "moment.range is not a function"
DaterangepickerComponent.html:7 ERROR TypeError: moment.range is not a function
    at CalendarComponent.createCalendarGridData (calendar-component.ts:101)
    at CalendarComponent.ngOnChanges (calendar-component.ts:116)
    at checkAndUpdateDirectiveInline (core.es5.js:10833)
    at checkAndUpdateNodeInline (core.es5.js:12332)
    at checkAndUpdateNode (core.es5.js:12271)
    at debugCheckAndUpda

[2017-10-25 13:36] nikhil-001mehta commented on #22
@chaimfn Have you installed moment-range.js version 2.2.0. This package requires specific version of moment-range package. run npm install moment-range@2.2.0 on your terminal

[2017-10-29 07:49] chaimfn commented on #22
OK, been installed.
But, now, when I click on the left calendar ('start' calendar) - nothing happens. And when I click on the right one (-'end' calendar), both of 2 calendars are changed to that date!

[2017-10-30 15:41] nikhil-001mehta commented on #22
@chaimfn  Can you please create a plunk and share here fork [this](https://plnkr.co/edit/BtKrOwY8nNLMIdAikubM?p=info) one to save time just change options to what you are passing.

[2017-11-24 05:42] 02harleen opened #23 "Is it compatible with angular 4 application."
Hi, I have worked one angular 4 application. I have check this date picker, but there is no mention in the document. Please tells us is it compatible with angular 4application.

[2017-11-24 06:48] nikhil-001mehta commented on #23
@02harleen Yes you can see it in the plunker [here](https://run.plnkr.co/plunks/BtKrOwY8nNLMIdAikubM/) it is working with both angular 4 and 5 as you can see in the plunker config.js it is already working with latest angular versions.

[2018-01-08 18:48] tagolito opened #24 "daterangepicker-module.ts is missing from the TypeScript compilation."
ERROR in ./node_modules/angular-2-daterangepicker/daterangepicker-options.ts
Module build failed: Error: C:\mypath\node_modules\angular-2-daterangepicker\daterangepicker-module.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
The missing file seems to be part of a third party library. TS files in published libraries are o

[2018-01-10 15:24] khylias commented on #23
Applications running on Angular 2 run on Angular 5, except for breaking changes.
However, yes it may be good to add it in the description. :)

[2018-01-11 07:33] nikhil-001mehta commented on #23
@khylias sure I will add. Let me know if you have faced any issues running with angular 5.
I personally have not tried it with angular 5 but I am sure about angular 4.

[2018-03-22 17:30] nikhil-001mehta commented on #24
Closing this issue. Added a fix will be released in next version.

[2018-03-22 19:08] nikhil-001mehta commented on #24
Closing this issue. Added a fix will be released in next version.

[2018-03-22 19:08] nikhil-001mehta commented on #24
Closing this issue. Added a fix will be released in next version.

[2018-04-28 10:14] nikhil-001mehta commented on #12
@francyrho11 yes this is a bug. Thanks for letting me know. Its fixed in version 1.1.29. Thanks for your support.

[2018-04-30 22:44] MFava91 commented on #24
Hi @nikhil-001mehta ,
it seems that the problem is not solved yet (I've tried version 1.1.31 with angular-cli 1.7.4).
For those wondering how to get a workaround for this problem, just need to add this lines of code on `tsconfig.json`:
[code]
I think that this is a big problem for those who try this module for the first time.

Example of full `tsconfig.json`:
[code]

[2018-05-01 18:09] nikhil-001mehta commented on #24
@MFava91 Will look into it on priority. Opening the issue again to keep track

[2018-05-01 21:47] MFava91 commented on #24
@nikhil-001mehta  Work perfectly (version **1.1.32** with angular-cli **1.7.4** - Angular **5.2.10**).
Nice work 👍

[2018-05-01 22:18] MFava91 opened #27 "New feature suggestion: correlating calendars"
Hi @nikhil-001mehta ,
I'm glad to see the new useful features you've added and the nice work that are you doing.
So today I'm here to suggest a new feature.
Is it possible to "connect/correlating" the two calendar? Let me explain it better:
- in the first calendar, we have January and in the second February.
  * If the user selects the next month, both calendars update, so the first has February,

[2018-05-02 07:45] nikhil-001mehta commented on #27
@MFava91 Thanks a lot. I am glad that my work it helping to reduce efforts.
regarding your suggestions, Yes that can be done. Will have to look how much efforts it will take.
It is can be done easily I guess I will give it a try.

[2018-05-02 22:02] MFava91 commented on #27
Wonderfull!!! Let me know if/when you look at it.
Also, in the next few weeks, I have some free time after work so I can take a look at the code and help if you need.
So, keep me up to date and good work.

[2018-05-02 22:14] MFava91 opened #28 "SingleCalendar TypeError"
https://github.com/nikhil-001mehta/angular-2-daterangepicker/blob/bfecf06688f574503e8f60278b001dd8bb06c04f/daterangepicker-component.ts#L274-L275

If fromDate is undefined: `this.fromDate.format is not a function`.
Missing condition in if statement.

[2018-05-05 05:39] nikhil-001mehta commented on #28
I am not able to understand the case you are talking about. If single calndar is true and if startDate is not supplied in options then I am setting it to current system date. Can you please give me more insights if I am missing something here.

[2018-05-05 06:02] nikhil-001mehta commented on #24
@MFava91 Thanks a lot. Closing the issue.

[2018-05-05 06:02] #24 closed

[2018-05-07 12:47] pmalikbtech opened #29 "dates are not clickable"
dates are not clickable and not updated in view

[2018-05-07 15:39] nikhil-001mehta commented on #29
Yes there was a issue that month was not getting updates on left calendar which I resolved in v1.1.36. But I found that dates are clickable. It will be mor helpful if you can provide more insights

[2018-05-07 16:00] nikhil-001mehta commented on #28
@MFava91 got it. I will fix it in next version.

[2018-05-07 21:46] MFava91 commented on #24
@nikhil-001mehta it seems that the problem reappeared in version **1.1.36**.
[code]

[2018-05-08 18:01] nikhil-001mehta commented on #28
@MFava91 I have fixed it in v.1.1.37

[2018-05-08 18:05] nikhil-001mehta commented on #24
@MFava91 I have fixed it in v.1.1.37 Let me know if you find it useful. Thanks

[2018-05-08 22:01] MFava91 commented on #24
@nikhil-001mehta Work nice 👍

[2018-05-08 22:03] MFava91 commented on #28
@nikhil-001mehta It seems to works like a charm. Good job 👍

[2018-05-08 22:03] #28 closed

[2018-05-09 09:35] pmalikbtech commented on #29
on init every time getting error (ERROR TypeError: Cannot read property 'startDate' of undefined). but i am passing options having start date and end date. by default its picking up today date in both input fields

[2018-05-09 13:59] nikhil-001mehta commented on #29
@pmalikbtech Can you please post options you are passing to the daterangepicker component. It will help me to figure out what is the exact issue. Thanks

[2018-05-17 13:16] SayToMe opened #30 "Typescript npm package"
Is it hard to you to deploy to npm typescript verion of your files?
So that angular projects could reference your package easier, otherwise there is an error about `NgModule` annotation.

[2018-05-18 19:27] nikhil-001mehta commented on #29
closing the issue as thread is inactive for more than a week. And no other user has raised same issue.

[2018-05-18 19:27] #29 closed

[2018-05-21 08:52] #22 closed

[2018-05-21 08:52] #20 closed

[2018-05-21 08:53] #21 closed

[2018-05-21 08:53] #23 closed

[2018-05-21 08:54] #30 closed

[2018-05-27 09:34] Pavel-Ropakov commented on #22
same issue

[2018-05-27 18:01] nikhil-001mehta commented on #22
@Pavel-Ropakov I will update you soon

[2018-06-12 18:32] tobujin opened #31 "option to toggle two inputbox for start and end time."
I think toggling time-picker options is convenient.
But sometimes i feels to toggle the two input-boxes on the top.
if then , it will looks more smart , i think.
Thanks.

[2018-06-13 05:21] nikhil-001mehta commented on #31
so you do not want the input boxes in flyout. i can add option for that

[2018-06-15 06:24] sapanjwani opened #32 "Did not work with Angular 6 ."
Hi,

Thanks for such a good module but this seems not working with angular 6 . I'm unable to select dates until i give min date and max date into options. In all other scenarios dates in calendar are not clickable.

[2018-06-15 06:49] sapanjwani commented on #29
Hey , i think i'm facing the similar issue. Can we sort this out ?

[2018-06-15 19:57] nikhil-001mehta commented on #32
Can you please share your app or a plnkr. Because the module [the demo here](https://nikhil-001mehta.github.io/angular-2-daterangepicker/) is already running on latest angular package.

[2018-06-16 10:03] sapanjwani commented on #29
Hi Nikhil,

I was using on Chrome , actually , it works good when I give min date and
max date in option but else does not .

I was looking into code of daterangepicker-component.ts, you return moment
() somewhere , I guess the issue is happening due to checks.

To replicate, give no option , it should work by taking default values of
options. But it was not , dates were not clickable .

Regards,

[2018-06-16 10:13] sapanjwani commented on #29
Hi,

You can reach me @9773671145 in case a discussion is needed , maybe it's
something I'm doing wrong , and you could help me out .

Regards,
Saurabh

On 16-Jun-2018 3:33 PM, "saurabh panjwani" <saurabh110693@gmail.com> wrote:

Hi Nikhil,

I was using on Chrome , actually , it works good when I give min date and
max date in option but else does not .

I was looking into code of daterangepicker-c

[2018-06-16 13:42] nikhil-001mehta commented on #32
@sapanjwani  thanks a lot for pointing out the issue. I have fixed the issue in v.1.1.43. Let me know if you are facing any issues or if you have any suggestions.

[2018-06-16 13:44] nikhil-001mehta commented on #29
@sapanjwani Thanks a lot for pointing out the issue i have fixed the issue in v1.1.43. Let me know if you have any sugestions or facing any issues.

[2018-06-18 08:13] nikhil-001mehta commented on #32
you can see the commit history [here](https://github.com/nikhil-001mehta/angular-2-daterangepicker/commit/f5e20b5044875b6942575844fdc4749f34dee071) expecially changes in daterangepicker-component.ts.

In later commits I have made time picker aware of min max date time. You can see the latest [demo](https://nikhil-001mehta.github.io/angular-2-daterangepicker/) to see the change just select lowest p

[2018-06-19 03:43] #32 closed

[2018-06-21 11:38] nishanth919 opened #33 "Please add a @NgModule annotation."
**Unexpected value 'DaterangepickerModule in /xxx/node_modules/angular-2-daterangepicker/index.js' imported by the module 'AgreeGatewayV1DashboardverModule in myprj/my.module.ts'. Please add a @NgModule annotation.**

Hi Nikhil

I have imported and started utilizing you angular-2-daterangepicker. when i'm running in a developer env this is working fine. But when i'm trying to make a package to run

[2018-06-22 11:13] nikhil-001mehta commented on #33
sure @nishanth919
I will look into it. Will update you soon.

[2018-06-22 12:48] mailtoachyu opened #34 "Clear button is not present"
Please impliment Clear button.now i am not able to clear

[2018-06-23 14:36] nikhil-001mehta commented on #33
@nishanth919 Are you using shrinkwrap or fixed version for @angular/core

[2018-06-24 03:10] nishanth919 commented on #33
@nikhil-001mehta i am not using shrinkwrap. mine is a Maven project so using Maven packager command.

[2018-07-06 07:15] JorgeGarcia495 commented on #34
Do we have any alternative to clear values?

[2018-07-09 05:46] nikhil-001mehta commented on #34
No currently no. I will be working on it this week. Expect a option for it available over weekend.

[2018-07-09 14:30] rafiq-ahmed-1 commented on #33
Facing same issue.

DatePicker Version:

[2018-07-11 12:01] nikhil-001mehta commented on #33
Yup I will look into it.

[2018-07-28 16:12] myahi commented on #33
@nikhil-001mehta i'm facing the same issue, do you have any updates ?
thank's

[2018-08-04 14:43] nikhil-001mehta commented on #34
Hi @JorgeGarcia495 @mailtoachyu I have added the clear button in v.1.1.45 Sorry for the delay in implementation. Hope it helps you. Let me know if I can provide more information or if you are facing any issue.

[2018-08-05 18:27] mailtoachyu commented on #34
Thanks a lot for your support..Keep it up..

Regards,
Achyutananda

On Sat, Aug 4, 2018 at 8:13 PM, nikhil.001mehta <notifications@github.com>
wrote:

--
Regards,
Achyutananda Panigrahy

[2018-08-07 09:03] nikhil-001mehta commented on #34
Closing the issue. Assuming it to be working fine

[2018-08-07 09:03] #34 closed

[2018-10-21 07:10] technikhil314 commented on #31
Closing this as there is no confirmation on what is the exact requirement.

[2018-10-21 07:10] #31 closed

[2018-10-25 12:34] David-Mawer commented on #33
@technikhil314 - OK, so I started using the component, and I find the same issue under the following conditions: -
Angular 6
with the following compiler options:
buildOptimizer: true,
aot: true

I noticed that as soon as I set these 2 options to false, then the build works.

So it's something to do with aot (which is where strict type definitions are enforced at compile time).

[2018-10-25 17:59] technikhil314 commented on #33
@David-Mawer Oh ok. Thanks for this insight. I will dig more into it and will fix it.

[2018-10-29 06:37] MUYUSY opened #35 "The demo get 404 returned and the module could not use."
Is there any problem?

[2018-10-30 02:00] MUYUSY commented on #35
I thought there is an error in component in 1.1.50, at line 77 of daterangepicker.component.ts where "window.Node" will get an error, while 1.1.49 is ok.
Also the demo page could not visit.

[2018-10-30 11:47] technikhil314 commented on #35
@MUYUSY Not sure if you are the only one facing the issue. I have tried it on different browsers and OSs. But I am not able to reproduce it.

[2018-10-30 12:25] sunloverz opened #36 "New feature suggestion: disable specific dates"
I think many users use this daterangepicker for reservation, booking something, so it would be nice to add a feature for disabling specific dates.

[2018-10-31 02:13] technikhil314 commented on #36
@sunloverz And do you suggest we do that. by passing in a whole array of dates which you want to disable or just disbledWeekEnds will it suffice your needs?

[2018-10-31 08:50] sunloverz commented on #36
I think its better to disable dates by passing an array of dates. Something like disableDates: [{year: 2018, month: 10, day: 1}, {year: 2018: month: 10, day: 2}]
Or even better also add a feature to disable date ranges.

[2018-11-06 09:05] sunloverz opened #37 "ngSubmit fires form submission on apply, cancel buttons without type="button""
ngSubmit fires form submission on apply, cancel and other buttons without type="button"

[2018-11-11 07:34] technikhil314 commented on #33
@nishanth919 @David-Mawer @rafiq-ahmed-1 @myahi For this I need to change overall architecture of my module. Currently i am relying on system loader for my development. But it seems I need to use angular/cli. Please expect some delay in this issue to get resolved. Sorry for this delay. And thanks for all your support.

[2018-11-11 07:36] technikhil314 commented on #35
@MUYUSY Thanks for reporting this issue. I have fixed it in v.1.1.51

[2018-11-11 07:36] #35 closed

[2018-11-11 07:36] technikhil314 commented on #37
@sunloverz This is fixed in v1.1.51 Thanks for all your support

[2018-11-11 07:36] #37 closed

[2018-11-19 17:06] playnox opened #38 "Not working with Angular 6"
When trying to select date:

DaterangepickerComponent.html:28 ERROR TypeError: this.fromDate.format is not a function
    at DaterangepickerComponent.push../node_modules/angular-2-daterangepicker/daterangepicker-component.js.DaterangepickerComponent.formatFromDate (daterangepicker-component.js:353)
    at Object.eval [as handleEvent] (DaterangepickerComponent.html:31)

[2018-11-23 08:01] sirespin commented on #33
I have the same problem and can't deploy :(

`[ts]
No declaration file was found for the module 'angular-2-daterangepicker'. '*/node_modules/angular-2-daterangepicker/index.js' has an implicit "any" type.
   Try npm install @ types / angular-2-daterangepicker if it exists or add a new declaration (.d.ts) file containing declare module 'angular-2-daterangepicker'; [7016]`

[2018-11-28 11:57] technikhil314 commented on #38
@playnox Sure I will try to resolve it ASAP

[2018-12-05 16:51] playnox commented on #38
Any updates ?

[2018-12-06 15:33] playnox commented on #38
Why did you close the issue ? your plugin not working 👎

[2018-12-06 15:39] playnox opened #39 "Not Working with Angular 6, Also bug (cannot select date range more than couple months)"
1. This datepicker doesn't work with latest Angular release (please fix the issue reported in #38)
    Getting this error:
`DaterangepickerComponent.html:28 ERROR TypeError: this.fromDate.format is not a function
at DaterangepickerComponent.push../node_modules/angular-2-daterangepicker/daterangepicker-component.js.DaterangepickerComponent.formatFromDate (daterangepicker-component.js:353)
at Object

[2018-12-17 12:43] BuntyBru opened #40 "Function through which i can highlight any date inside the calender without opening the calender picker"

[2018-12-21 10:52] technikhil314 commented on #40
@BuntyBru What do you mean highlight??? You want to display that perticular date with different background and color????

[2019-01-02 12:00] Abadii commented on #33
Same issue, since it's an open topic for a long time, I uninstalled..

[2019-01-08 09:56] aliarshad9691 opened #41 "Unable to contribute"
The steps provided to setup development points to this [gist](https://gist.github.com/nikhil-001mehta/7a43a4da53ed9809fd6682a340ede618)
The gist does not exist and return 404.

[2019-01-08 14:05] technikhil314 commented on #41
@aliarshad9691 I am extremely sorry for the inconvience. Here it link to the gist. https://gist.github.com/technikhil314/85e7d8a38ab459b3aa2117fe4d713e5b

[2019-01-08 16:21] vatsenko commented on #33
Have same issue

[2019-01-14 19:50] toddhd opened #42 "How can I pass in start/end dates via the inline properties?"
I need to use this component within an *ngFor loop in HTML. The objects in the loop have the existing date ranges that I need to populate the control with. So for example, I want to do this:

[code]

This is not working for me however. Maybe I'm writing it incorrectly? I know that the control has a setStartDate()/setEndDate() function however I'm not sure how to make those work within the loop.

A

[2019-01-17 11:31] technikhil314 commented on #41
@aliarshad9691 I hope it solves your problem

[2019-01-18 07:10] gomteshhatgine commented on #33
@technikhil314
yes something wrong with **aot** (which is where strict type definitions are enforced at compile time).
because without aot build was sucessfull
please comment once you fix this issue

[2019-01-22 08:56] natibs commented on #33
Having same issue.

[2019-01-28 09:35] devrijal opened #43 "Unable to build project for production in angular 7"

[2019-01-28 09:43] #43 closed

[2019-03-19 14:58] rocoradi opened #44 "Error import module"
Erro on app.module:
`Could not find a declaration file for module 'angular-2-daterangepicker'. '/home/desenvolvimento017/repositorio/ecm-admin-frontend/ecm-admin-frontend/node_modules/angular-2-daterangepicker/index.js' implicitly has an 'any' type.
  Try `npm install @types/angular-2-daterangepicker` if it exists or add a new declaration (.d.ts) file containing `declare module 'angular-2-daterang

[2019-07-05 02:07] fatehuddin commented on #42
How we set range dynamically? For example: I want to set the startDate to endDate on the basis of backend response. When I override daterangepickerOptions.startDate = '2019/06/01' it does not update the input field.

[2019-07-07 09:12] technikhil314 commented on #42
Can you share any example of what you are trying to do @fatehuddin ??? Since the object gets passed by reference you will have to pass in whole new daterangepickerOptions object

[2019-08-28 05:28] G-007 commented on #33
ERROR in : Unexpected value 'DaterangepickerModule in C:/xxx/node_modules/angular-2-daterangepicker/index.js' imported by the module 'AppModule in C:/xxx/src/app/app.module.ts'. Please add a @NgModule annotation.

Please help me to find out this issue.

[2019-08-28 06:10] anand171 opened #45 "Getting error in angular-2-daterangepicke module while making build in angular 2"
Hello Everyone,
I have used npm angular-2-daterangepicke and follow steps that are given here (https://www.npmjs.com/package/angular-2-daterangepicker). This date range picker is working fine in my local machine but while making build for the production it gives some error as given below.

ERROR in: Unexpected value 'DaterangepickerModule in C:/xxx/node_modules/angular-2-daterangepicker/index.js'

[2019-08-28 06:50] G-007 commented on #33
I have used npm angular-2-daterangepicke and follow steps that are given here (https://www.npmjs.com/package/angular-2-daterangepicker). This date range picker is working fine in my local machine but while making build for the production it gives some error as given below. ERROR in: Unexpected value 'DaterangepickerModule in C:/xxx/node_modules/angular-2-daterangepicker/index.js' imported by the m

[2019-11-01 15:50] kernyden commented on #33
same issue

[2020-09-21 13:04] GMithapara-Fintech commented on #33
same issue please help me if you found any solution

[2020-10-14 06:24] hustakin commented on #33
same issue, still no update on this please???

[2020-10-17 19:37] technikhil314 commented on #33
hey @hustakin  @GMithapara-Fintech @kernyden  @G-007 @natibs @vatsenko @Abadii @sirespin @David-Mawer @myahi @nishanth919 If you are on angular v6 or later please use this package. https://www.npmjs.com/package/angular-datetimerangepicker

[2020-10-17 19:43] technikhil314 commented on #38
@playnox https://www.npmjs.com/package/angular-datetimerangepicker this is for angular 6

[2020-10-17 19:44] technikhil314 commented on #39
@playnox https://www.npmjs.com/package/angular-datetimerangepicker

[2020-11-06 11:15] szala12 opened #46 "Calendar breaks under Angular 8 served in prod"
I use the plugin in an Angular 8 application, and on building/serving the application with the ```--prod``` flag, the calendar breaks.

Steps to reproduce the behavior:
1. Make an Angular 8 application.
2. Add calendar to it in some way.
3. Serve using ```ng serve --prod true```
4. See error

**Expected behavior**
This is what the calendar looks like without ```--prod```:
![image](https://user-ima

[2020-11-08 10:12] technikhil314 commented on #46
Hi @szala12

Thanks for finding out this issue. Can you please provide some example codesandbox also can you please confirm if this happens with ng build too? ng serve is not supposed to be ideally run with `--prod true`

Regarding older versions yes those are for angular-2 only. I doubt if they will work with angular 4 or not. So I dont recommend 1.x versions in angular 6 onwards.

[2020-11-08 11:01] szala12 commented on #46
My bad, I should've mentioned it. I came across it after running ```ng build``` in prod, that's how it came up in the first place. The ```ng serve --prod true``` is only to help replicate on local. I'm not entirely sure how to replicate a prod issue in sandbox, so if you could help me a little with that, that'd be great.

And yeah, we got the issue with angular-datetimerangepicker@2.0.0 as well. I

[2020-11-08 11:56] technikhil314 commented on #46
Yeah may be it will be difficult to make production bundle in codesandbox. But condesandbox can be used to sync with your github repo. https://codesandbox.io/s/github.

If you can create a github repo backed sandbox. It will help me to debug and see it works in non-prod bundles.

[2020-11-13 15:58] technikhil314 commented on #46
@szala12 I was able to reproduce the problem.

Here are my findings

I guess is angulars build optimizer is removing dayjs extentions assuming they are not used. Seems like dayjs or my package needed to marked as not sideeffectfree

try setting `"buildOptimizer": false` in your angular.json

Here is the difference in bundles sizes

With build optimizer enabled
<img width="997" alt="Screenshot 2020

[2020-11-13 16:06] szala12 commented on #46
@technikhil314 Hey. I am terribly sorry about the delay. As weird as this sounds to hear, I've logged this bug on behalf of a colleague who doesn't happen to be on GitHub and is not keen on joining, so they decided to move ahead with another library. I was planning on replicating it this weekend, with it being a holiday proper.

[2020-11-13 19:47] technikhil314 commented on #46
No worries. As I guessed correctly I missed to mark my package to have side effects on dayjs since I am using some dayjs extentions. The next version I will release tomorrow will have it fixed. Thanks.

[2020-11-14 08:06] technikhil314 commented on #46
This is fixed in v2.1.1

[2020-11-14 08:06] #46 closed

[2020-11-14 08:07] technikhil314 commented on #44
This is fixed in v2.1.1

https://www.npmjs.com/package/angular-datetimerangepicker

[2020-11-14 08:07] #44 closed

[2020-11-14 08:07] technikhil314 commented on #45
This is fixed in v2.1.1

https://www.npmjs.com/package/angular-datetimerangepicker

[2020-11-14 08:07] #45 closed

[2020-11-14 08:08] technikhil314 commented on #42
Closing due to inactivity

[2020-11-14 08:08] #42 closed

[2020-11-14 08:08] technikhil314 commented on #41
This is made more easy in v2.1.1

https://www.npmjs.com/package/angular-datetimerangepicker

[2020-11-14 08:08] #41 closed

[2020-11-14 08:09] technikhil314 commented on #40
Closing due to inactivity

[2020-11-14 08:09] #40 closed

[2020-11-14 08:09] technikhil314 commented on #38
This is fixed in v2.1.1

https://www.npmjs.com/package/angular-datetimerangepicker

[2020-11-14 08:09] #38 closed

[2020-11-14 08:09] technikhil314 commented on #39
This is fixed in v2.1.1

https://www.npmjs.com/package/angular-datetimerangepicker

[2020-11-14 08:09] #39 closed

[2020-11-14 08:10] technikhil314 commented on #33
This is fixed in v2.1.1

https://www.npmjs.com/package/angular-datetimerangepicker

[2020-11-14 08:10] #33 closed

[2020-11-26 11:51] danieldesko opened #47 "First day of week"
We are using this component on our Angular app, so we need first day of week to be Monday, we can't find solution to make this.

Is there any property in Options to set the first day in Calendar to be Monday, or how can we solve this? We didn't find anything of that.

If doesn't exist, I'm suggesting you to implement this feature in next versions of this component, it is useful for user from the e

[2020-11-26 13:18] technikhil314 commented on #47
Yes will release it over this weekend. Thanks.

[2020-11-26 14:42] technikhil314 commented on #47
Hey @danieldesko Just realised I had made provision for it already. It was quick to add this options. And is available in v2.2.10

[2020-11-26 16:42] danieldesko commented on #47
Thank you for fast response and updated version.

[2020-11-27 20:22] vithano opened #48 "add option to remove clear button"
im using your component in my project and it would be cool if there was an optiion to remove the clear button or the entire bottom row of buttons

[2020-11-29 16:27] technikhil314 commented on #48
@vithano hey may I know the exact use case? We may find a better solution if we discuss.

[2020-11-29 16:35] technikhil314 commented on #47
Added the support in v2.2.10. Closing.

[2020-11-29 16:35] #47 closed

[2020-11-30 01:23] vithano commented on #48
well currently i use it as a datepicker for a calendar, so i dont need the user to clear the value, it should always have a default value as the current date, at the moment i just use css and remove the entire bottom row, but it feels hacky
![image](https://user-images.githubusercontent.com/11342649/100559446-5d44df80-32bb-11eb-9cc4-d639a4e2a7cb.png)

[2020-11-30 01:37] vithano commented on #48
i dont wanna overload this request but it would also be nice to give me the option to make the input readonly so the user can only change the dates using the date picker and not manually typing

[2020-11-30 05:16] technikhil314 commented on #48
ok makes sense I will add these two options

[2020-11-30 13:40] technikhil314 commented on #48
This is now supported in v2.3.0

Check hideControls and readOnly option in documentation

[2020-11-30 18:59] vithano commented on #48
works great, thanks for the work

[2020-11-30 18:59] #48 closed

[2020-11-30 19:06] vithano opened #49 "bug report: cant import component"
hi im trying to import the daterangepicker component and im getting this error:
![image](https://user-images.githubusercontent.com/11342649/100652597-d2fa8b00-334f-11eb-9ce8-9e4cff7b9fb7.png)

im importing like this:
import { DaterangepickerComponent } from 'angular-datetimerangepicker/daterangepicker/daterangepicker.component';
and i do have the module in my app.module.ts

[2020-12-01 04:25] technikhil314 commented on #49
Hey you should not import component. But you should import daterangepicker module instead.

Check this example here
https://stackblitz.com/edit/angular-datetimerangepicker-demo-without-bootstrap

Also check the https://technikhil314.netlify.app/docs/daterangepicker/how-to-use

You just need to add two lines to your `app.module.ts` and then start using the component

[2020-12-01 13:57] vithano commented on #49
here is what im trying to do , when changing the date from a different source, in my case buttons that move the selected time frame to next week/previous week and today i want this to be reflected on the date picker(you can see the picture in the previous request i made)
im referencing your component as #datepicker
![image](https://user-images.githubusercontent.com/11342649/100749753-c3318400-33ed

[2020-12-01 14:39] technikhil314 commented on #49
Probably you are using it in wrong way. You simply need to change the options object in viewDateChange function. And it should work. Cause daterangepicker component handles ngOnChanges event already. Check the stackblitz example. See how the options change dynamically in that example. What you are doing is hacky way.

[2020-12-01 16:41] vithano commented on #49
things ive tried:
![image](https://user-images.githubusercontent.com/11342649/100768935-1b738080-3404-11eb-9bf6-7421d8712df5.png)
this didn't work, had no effect on values
![image](https://user-images.githubusercontent.com/11342649/100769068-3d6d0300-3404-11eb-89a8-614e19d3d4c1.png)
this worked only if i added setRange, without it the changes werent propagating to the value of the input
with:
![im

[2020-12-01 16:53] technikhil314 commented on #49
Ok got your use case now. I will release new version for this.

[2020-12-01 17:26] technikhil314 commented on #49
Please use v2.3.1

You simply need to pass new options object from your `viewDateChange` function. something like

[code]

This should work now need of calling `setRange` etc.

[2020-12-01 17:44] vithano commented on #49
works well now ,thanks for the quick fixes

[2020-12-01 17:44] #49 closed

[2020-12-02 18:49] technikhil314 commented on #36
Done in v2.3.2

[2020-12-02 18:49] #36 closed

[2020-12-10 12:39] danieldesko opened #50 "Few suggestions for better experience"
Hi,

I have few suggestions for better experience and usability of this component.

If it's possible to add feature two calendars to be linked (left calendar to show eg. December and the right calendar to show January) and the user to be able to select date range as he wants from December to January or just in December or in January etc. This option to be controlled by flag in date range picker op

[2020-12-11 04:56] technikhil314 commented on #50
Yeah the first suggestion is already in WIP. But for second one it adds unwanted compexicity of checking date format inputted by user. I can understand it from user experience point of view. Do you have any approach in mind on how to handle wrong date formats inputed by user?

[2020-12-11 10:44] danieldesko commented on #50
Maybe it would be better user can't enter wrong date, input fields to be pre-formatted for entering dates in format that is already entered in options. If is defined format to be DD/MM/YYYY then input fields will accept only that format and automatically as you are entering it will be formatted.

Maybe this can help inputs not to be text type, but date.
<input type='date'>

This type of inputs aut

[2020-12-11 14:06] technikhil314 commented on #50
ah got it. Will be too much for this package to handle. I am afraid the component will explode in size. My target is to keep it in limit of 10kb mingzipped. This package has already touched 12kb mark. But never mind I will see what I can do and come back here for any help. Thanks.

[2021-07-15 19:01] BrunoWB opened #59 ""Auto Apply" not working"
Bug:
The "Auto Apply" option is not working.

Expected Behaviour:
I couldn't find a description to what it is supposed to do, but I'm assuming it is used in combo with "hide controls" so we can get the output on the day selection action.

Reproduce:
- Angular 12.0.4
- Datetimerangepicker: 2.4.3
- Chrome Version 91.0.4472.114
(As for now jul/2021 the demo is also not working https://angular-datetim

[2021-07-23 07:43] technikhil314 commented on #59
@BrunoWB
If you have time picker enabled its not easy to decide on when to auto apply.
So it get automatically disabled. Try disabling timepicker and auto apply will work fine.

[2021-08-08 13:01] lukancosta opened #60 "The next/previous button trigger submit form"
**Describe the bug**

When the "app-datetimepicker" is added inside a form e.g.,

`<form (ngSubmit)="formCreate(formValue)" #formValue="ngForm">

<app-datetimepicker></app-datetimepicker>
<button type="submit">Submit</button>

</form>`

, the calendar's next/previous button triggers the submit form button - when using a template-driven approach.

I think the problem can be solved if the next/previ

[2021-08-09 07:40] technikhil314 commented on #60
Hey thanks for reporting this. I have fixed it in v2.4.4

[2021-08-11 14:41] BrunoWB commented on #59
This makes for a very inconsistent behaviour, when you say "not easy to decide on when to auto apply" you mean functionality-wise or technical/code-wise?
If you think this should stay as is, I'd recommend adding a mutual exclusion contraint on the demo, so ppl will know that using the timepicker will disable auto-apply. :)

(getting a bit ahead of your answer, if you meant functionality-wise) Idea

[2021-08-17 05:19] #50 closed

[2021-09-12 10:57] technikhil314 commented on #60
Fixed in v2.4.4

[2021-09-12 10:57] #60 closed

[2021-09-19 05:38] #59 closed

[2021-11-18 09:47] suriyaJaay opened #64 "Issue while installing with Angular 11."
Hi Am getting below error, while installing..
package.json
------------

"dependencies": {
    "@angular/animations": "~11.2.8",
    "@angular/cdk": "~11.2.13",
    "@angular/common": "~11.2.8",
    "@angular/compiler": "~11.2.8",
    "@angular/core": "~11.2.8",
    "@angular/forms": "~11.2.8",
    "@angular/material": "~11.2.13",
    "@angular/platform-browser": "~11.2.8",
    "@angular/platform-

[2021-11-21 18:05] technikhil314 commented on #64
@suriyaJaay  can you try with --force. I just checked angular/common@6.0.0-rc-0 is still available on npm registry. let me know if it does not work I will change the peer dependancy version and publish new version.

[2022-04-04 12:59] NikolnikovK opened #72 "Add custom locale"
It seems as the custom locale is en-EN : 01 / April / 2022

I would need to show dates in french locale : 01 / Avril / 2022

Could we add a custom locale to display dates ?

[2022-04-04 13:50] technikhil314 commented on #72
Currently it suppors only locale specific formats that too using displayFormat option. I will release another version with displayLocale option soon.

[2022-04-27 01:05] #72 closed

[2022-05-26 10:40] neverlose-lv opened #73 "Excluded commit"
**Describe the bug**
https://github.com/technikhil314/angular-components/commit/00d928a3229e1b6451efe41fbeeccfbb8a07feb5
This commit is not included on the npmjs.org build

**Expected behavior**
The commit should be included

[2022-05-26 10:44] neverlose-lv opened #74 "Conflict with ionic-selectable"
**Describe the bug**
When the ionic-selectable is used on the same view with the datepicker - there is a bug, when selecting a value in the popup model of the ionic selectable. Have to click no the modal itself, and only then an option can be selected.

This happens only when the datepicker is on the same view with this plugin.

I do not know why this happens, but I thinks it happens because of so

[2022-05-31 09:47] rajats51 opened #75 "Request to support Angular reactive form formControlName to set the value directly to form field like some other bootstrap date range picker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
If it is possible to take formControlName as Input and use it to support and set the date range string to text content and return the start and end date as array like some other bootstrap date range pic

[2022-05-31 13:00] technikhil314 commented on #73
Thanks for catching this. I will release another version soon with the mentioned commit.

[2022-06-04 18:23] rajats51 opened #78 "Looks like somewhere console log on each even on document is getting logged and creating issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-06-04 18:24] rajats51 commented on #78
<img width="858" alt="image" src="https://user-images.githubusercontent.com/16405012/172020703-5f58d802-b43d-494f-a527-5948a7d6ac7e.png">

[2022-06-04 18:24] rajats51 commented on #78
on Handle outside function please remove this console.

[2022-06-05 07:11] #78 closed

[2022-06-05 07:11] rajats51 commented on #78
this was wrongly created here.

[2022-07-15 08:41] radiumrasheed commented on #64
I think it's best to change the peer deps instead of using force, to ease ci-cd

[2022-07-15 09:33] technikhil314 commented on #64
Yup makes sense. I will release new patch version with the changes.

[2022-07-29 23:13] #74 closed

[2022-07-29 23:13] #75 closed

[2022-07-29 23:13] #73 closed

[2022-08-06 12:32] #64 closed

[2022-08-09 09:45] XHotSniperX opened #79 "Predefined Ranges don't work."
**Describe the bug**
Wheb clicking on a predefined range, the date is not set correctly to the predefined range, instead it is set to today.

**To Reproduce**
Steps to reproduce the behavior:
1. Open date picker
2. Click on any predefined range
3. Observe that the date is not set correctly.

**Expected behavior**
The predefined date range should apply to the picker.

**Screenshots**
If applicable,

[2022-09-07 00:39] #79 closed, assigned to nobody

[2022-10-25 22:35] serge-fabiano opened #81 "Better integrate with Material controls"
**Is your feature request related to a problem? Please describe.**

The material theme is not matching yours:

![image](https://user-images.githubusercontent.com/25266945/197894592-5fc07d03-1dce-4d3f-8cb5-7221f9655eaa.png)

**Describe the solution you'd like**

By allowing `<mat-form-field>` around your control, material theming will be applied
[code]
The code above generates the followwing error:

[2022-10-25 22:46] serge-fabiano commented on #81
Another way would be to provide a directive like this:

[code]

[2022-10-27 17:30] serge-fabiano opened #82 "Hide/Show the Clear button"
**Is your feature request related to a problem? Please describe.**
In some cases, you don't want to allow the user to clear the date

**Describe the solution you'd like**
Have a new property to show/hide the Clear button (why not also the others)

[2022-10-29 04:57] technikhil314 commented on #82
@LucasBrazi06 can you elaborate the usecase please? While its easy to implement it clear is there for ease of use from user experience standpoint. you can make the input box required if you want user to always select some date range. Would like to understand more from you. Thanks.

[2022-10-29 05:16] serge-fabiano commented on #82
My use case is that I use the date/time picker to provide date/time filters and I don't want the user to clear the date.
Why providing the Clear button when it's not allowed, this is confusing the user.

[2022-10-29 05:20] serge-fabiano commented on #81
I used a workaround to display a material input field in the UI and link your date/time picker control with it by cheating with the CSS:

![image](https://user-images.githubusercontent.com/25266945/198815313-a7ecb04e-b38e-4a39-a487-c22a7b77cd11.png)

[2022-10-29 05:22] technikhil314 commented on #82
@LucasBrazi06
Fair enough but apply and cancel buttons cant be shown/hidden the same way. If user wants to undo their operation cancel is still very much handy. and apply is anyways shown only if autoapply is false.
I will try to publish another version with feature to show hide clear button

[2022-10-29 05:37] technikhil314 commented on #81
yeah CSS is kept open for that purpose. Apparently creating headless UI is not that streight forward in angular. I am thinking of creating a pure js headless version of datetimerangepicker so people can use any css and their brand theme to build UI.

[2022-10-29 10:39] serge-fabiano commented on #82
@technikhil314 Thanks a lot!

[2022-11-17 20:01] Paul-creator opened #83 "Language support"
Problem:
I want to use the datepicker for an Austrian website but if it is only in english I can't use it.

Solution 1:
The best thing would be if I could simply enter "de" for german in the options  @Input()

Solution 2:
An options field in the options where i can specify all the text elements (This way all languages are possible):
[code]

Btw:
I forked your repo and tried to implement Solution 2

[2022-11-21 02:53] #81 closed, assigned to nobody

[2022-11-21 02:53] #82 closed, assigned to nobody